@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* display: flex; */
    /* justify-content: center; */

}

body {
    overflow-x: hidden; 
    background-color: #F3F2EB; 
    /* display: flex;
    justify-content: center; */

    
}

#nav {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}


#nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul li {
    list-style: none;
    margin-left: 100px;
}

#nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--primary);
    border-radius: 20px;
    
}

#nav ul li a:hover,
 #nav ul li a.active { 
    background: var(--primary);
    color: black;
} 

.sec p {
    color: black;
    font-size: 35px;
    margin-top: 225px;
    display: flex;
    justify-content: center;
}

.sec button {
    background-color: #A9E494;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 5%;
    margin-left: 40%;
}

.sec3 {
    width: 500px;
    display: flex;
    justify-content: center;
}

#logo {
    height: 150px;
    border: none;
    background-color: white;
}


/* Investing CSS */

.container{
   width: 80%;
   position: absolute;
   margin-left: 100px;
    /* background-color: red; */
}

#projection {
    display: flex;
    justify-content: center;
    padding-left: 300px;
}

.rothIra {
    display: inline-block;
    position: absolute;
    left: 0;

}


.calculator {
    display: flex;
    position: center;
    width: 250px;
    right: 0;
    background-color: black;
    border-radius: 20px;
    padding: 20px;

}

#calcBtn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: space-between;
}

#display {
    border-radius: 10px;
    width: 207px;
    height: 40px;
}

#specialBtn {
    background-color: #A9E494;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: space-between;
}

#mobileApp {
    display: block;
    justify-content: center;
    padding: 10px;
    float: left;
}

.info-cards {
    width: 500px;
    border: 2px solid #A9E494;
    border-radius: 15px;
    background-color: white;
    padding: 40px 20px;
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
  

}
#spaceHeader {
    height: 250px;
}

/* Saving CSS */
#expenseForm {
    margin-left: 2%;
    height: 50px;
    vertical-align: top;
}

.expense-card {
    background-color: white;
    height: 200px;
    width: 300px;
    border: 3px solid darkgreen;
    border-radius: 10px;
    justify-content: center;
}

#expenseDisplay {
    display: inline-block;
    margin-left: 2%;
}

#totalSpending {
    height: 80px;
    width: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    float: right;
    margin-right: 22%;
    border: darkgreen solid 2px;
    border-radius: 20px;
}

